<div class="row">
	<div class="alert alert-info col-sm-6 col-lg-4" ng-show="info">
		Password changed.</div>
</div>
<div class="row">
	<h2>Change Password</h2>
	<form role="form" ng-submit="change()" class="col-sm-6 col-lg-4">
		<div class="form-group">
			<label for="password">Old Password:</label> <input type="password"
				placeholder="password" class="form-control" id="password"
				name="password" ng-model="changePassword.oldPassword" />
		</div>
		<div class="form-group">
			<label for="password">New Password:</label> <input type="password"
				placeholder="password" class="form-control" id="password"
				name="password" ng-model="changePassword.newPassword" />
		</div>
		<button type="submit" class="btn btn-primary">Change Password</button>
	</form>
</div>
